@CHARSET "UTF-8";

.apply-area {
	width: 500px;
	max-width: calc(100% - 12px); /* take border-width into consideration */
	margin: 0 auto 10px;
	padding: 10px 5px;
	border: 1px solid #e1e1e1;
	-webkit-box-shadow: 0 0 3px #eee,inset 0 0 3px #fff;
	box-shadow: 0 0 3px #eee,inset 0 0 3px #fff;
	background: #fbfbfb;
	border-radius: 7px;
}

table tr td:nth-child(1), table tr th:nth-child(1) {
	width: 10px;
}

.apply-div >img {
	width: 20px;
	margin-top: 10px;
}

.apply-div >img:hover {
	cursor: pointer;
}

.apply-div >span {
	float: left;
	padding: 0 12px;
	display: inline-block;
	height: 40px;
	line-height: 40px;
}

.apply {
	margin-top: 35px;
}

.apply input, .apply textarea {
	display: block;
	width: calc(100% - 36px);
	margin: 0 auto;
}

.apply select {
	display: block;
	width: calc(100% - 10px);
	margin: 0 auto;
}

.apply button {
	display: inline-block;
	width: calc(50% - 10px);
	margin: 10px 5px;
}