@CHARSET "UTF-8";
* {
	font-family: 'Consolas', 'Microsoft YaHei';
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

html {
	height:100%;   /*firefox*/
}

body {
	margin: 5px;
	padding: 0;
	background-color: #efefef;
	min-height: calc(100% - 10px);
}

textarea, select, input, label, button {
	text-align: center;
	vertical-align: middle;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	border-radius: 3px;
	outline: none;

}

textarea {
	resize: none;
	border-color: #c0c0c0;
	text-align: left;
}

select {
	border-color: #c0c0c0;
	margin-left: 0;
}

input {
    background-color: #fff;
	border-color: #c0c0c0;
	color: #000;
	text-align: left;
	padding: 7px 12px;
}

input[type="checkbox"] {
	margin: 0;
	background-color: transparent;
	border: none;
}

input[type="radio"] {
	margin-top: -6px;
	margin-left: 12px;
}

input[type="button"], input[type="submit"], input[type="reset"], button {
	color: #fff;
	background-color: #343466;
	border-color: #343466;
}

select:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover {
	outline: 5px auto #eb7a12/*-webkit-focus-ring-color*/;
    outline-offset: -2px;
	cursor: pointer;
}

select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus {
	border-color: #30abc1;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
	-webkit-user-select: auto;
}

textarea.has-error, textarea.has-error:focus, 
input[type="text"].has-error, input[type="text"].has-error:focus, 
input[type="password"].has-error, input[type="password"].has-error:focus {
	border-color: #faa;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(200, 6, 65, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(200, 6, 65, 0.6);
	-webkit-user-select: auto;
}

option {
	background-color: #fff;
	color: #000;
}

label {
	display: block;
	text-align: left;
}

hr {
	border: none;
	padding: 1px;
}

.container {
	width: 500px;
	max-width: calc(100% - 12px); /* take border-width into consideration */
	margin: 0 auto 10px;
	padding: 10px 5px;
	border: 1px solid #e1e1e1;
	-webkit-box-shadow: 0 0 3px #eee,inset 0 0 3px #fff;
	box-shadow: 0 0 3px #eee,inset 0 0 3px #fff;
	background: #fbfbfb;
	border-radius: 7px;
}

.container.page-title {
	text-align: center;
}

.body-flex-box {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
}

.wrap{
	flex: 1;	
}

.footer {
	display: flex;
	display: -webkit-flex;
	text-align: center;
	margin-bottom: 0;
}

.footer span {
	flex: 1;
	-webkit-flex: 1;
	border-left: 1px solid #c0c0c0;
}

.footer span:hover, .flex-box span:hover {
	cursor: pointer;
}

.footer span:nth-child(1) {
	border-left: none;
}

.footer span a {
	display: block;
	text-decoration: none;
}

.footer span a, .footer span a:active, .footer span a:link, .footer span a:visited {
	background: transparent;
	color: #000;
}

/* table */
table {
	font-size: 14px;
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0;
	width: calc(100% - 10px);
	margin: 5px auto 0;
	clear: both;
	/*work-break: break-all;*/
}

th {
	font-size: 12px;
	padding: 5px 10px 2px;
	border-bottom: 0;
	text-align: center;
	color: #fff;
	background-color: #5ea5e6;
	text-shadow: 1px 1px 1px #666;
	font-weight: normal;
}

tr {
	background-color: #ffffe3;
}

td, th {
	padding: 6px 12px;
	border: 1px solid #f8f2f2;
	line-height: 1.428571429;
}

.operate-div {
	float: left;
	width: calc(100% - 10px);
	margin-left: 5px;
	background-color: #dfdefe;
	border-top: 1px solid #aaa;
}

.table-operate {
	float: left;
	font-size: 14px;
	color: #235a81;
	height: 20px;
	line-height: 20px;
	margin: 5px 20px 5px 0;
}

.operate-div img, .table-operate img {
	float: left;
	margin: 2px 5px;
	opacity: 0.6;
}

.table-operate input {
	float: left;
	margin: 3.5px 5px;
}

.table-operate:hover {
	cursor: pointer;
	text-decoration: underline;
}