@CHARSET "UTF-8";

.body-flex {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-itmes: center;
	background: #fbfbfb;
}

#login {
	width: 500px;
	max-width: calc(100% - 10px);
	margin: 0 auto 150px;
	padding: 10px 5px;
}

#login input, #login button, #login img {
	display: block;
}

#login img {
	margin: 5px auto;
	border-radius: 50%;
	width: 100px;
	max-width: 25%;
}

#userid, #password {
	width: calc(100% - 36px);
	margin: 0 auto;
}

#login-button {
	width: calc(100% - 10px);
	margin: 20px auto 10px;
}

.login-title {
	text-align: center;
}